* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #2c3e50 0%, #3498db 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 2em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #ff6f47;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  width: 20rem;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}

button:active {
  transform: translateY(0.1rem);
}

.trash-button,
.complete-button,
.edit-button {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.edit-button {
  background-color: #525597;
}

.complete-button {
  background: #0bd4a2;
}

.todo-text {
  padding: 0rem 0.5rem;
}

#inputMessage {
  display: none;
  text-align: center;
  color: #000;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
}

.filter-todo {
  padding: 1rem;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #99999981;
}

.delete-modal {
  position: absolute;
  z-index: 1;
  background: #fff;
  color: #000;
  width: 25rem;
  height: 10rem;
  text-align: center;
  font-size: 1.4rem;
  padding: 1em;
}

.delete-modal button {
  background: #ff6f47;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: auto 1em;
  border-radius: 0.3rem;
  font-weight: 600;
}

#deleteButton {
  background: #0bd4a2;
}

.edit-modal form {
  margin-top: 1.5em;
}

.edit-modal {
  position: absolute;
  z-index: 1;
  background: #fff;
  color: #000;
  width: 30rem;
  height: 15rem;
  font-size: 1.4rem;
  padding: 1em;
}

.edit-modal input {
  border: 0.1rem solid #000;
  background: #ff6f47de;
}

.edit-modal > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-modal > div button {
  color: #ff6f47;
  border: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 2rem;
  font-weight: 600;
}

.edit-modal p {
  flex: 0.8;
}

@media screen and (max-width: 765px) {
  form {
    flex-direction: column-reverse;
  }

  .select {
    margin: 0 15rem 2rem 0;
  }

  .todo-container {
    margin-top: 1em;
  }

  .edit-modal form {
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  .todo {
    font-size: 1.5rem;
    width: 25rem;
  }

  .edit-modal {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .select {
    margin: 0 13rem 2rem 0;
  }

  form input,
  form button {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 400px) {
  .select {
    margin: 0 10rem 2rem 0;
  }

  form input,
  form button {
    font-size: 1.5rem;
  }

  .todo {
    font-size: 1.3rem;
    width: 21rem;
  }
}

@media screen and (max-width: 375px) {
  .select {
    margin: 0 8rem 2rem 0;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  form input,
  form button {
    font-size: 1.3rem;
  }

  .todo {
    width: 18rem;
  }
}
