* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #24C6DC;
}

.input-group {
  width: 50%;
}

.form-select {
  cursor: pointer;
  width: 50%;
}

.list-group-item {
  width: 40%;
  height: 2.7em;
}

.todo-text {
  flex: 0.7em;
}

.list-group-item button {
  border: unset;
  width: 3em;
  height: 2.3em;
  background: #E9ECEF;
}

button:active {
  transform: translateY(0.1em);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #18181882;
}

.edit-modal {
  width: 50%;
  margin: 6em auto;
  height: 10.5em;
  background: #8ad1f8;
}

@media screen and (max-width: 645px) {
  .input-group {
    width: 95%;
  }

  .form-select {
    width: 95%;
  }

  .list-group-item {
    width: 95%;
  }

  .edit-modal {
    width: 100%;
  }
}

/*.delete-modal {*/
/*  position: fixed;*/
/*  top: 20%;*/
/*  z-index: 1;*/
/*  background: #fff;*/
/*  color: #000;*/
/*  width: 25rem;*/
/*  height: 10rem;*/
/*  text-align: center;*/
/*  font-size: 1.4rem;*/
/*  padding: 1em;*/
/*}*/

/*.delete-modal button {*/
/*  background: #ff6f47;*/
/*  color: white;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  padding: 0.5rem 1rem;*/
/*  font-size: 1rem;*/
/*  margin: auto 1em;*/
/*  border-radius: 0.3rem;*/
/*  font-weight: 600;*/
/*}*/

/*#deleteButton {*/
/*  background: #0bd4a2;*/
/*}*/

/*.edit-modal form {*/
/*  margin: 1em;*/
/*}*/

/*.edit-modal {*/
/*  position: fixed;*/
/*  top: 20%;*/
/*  z-index: 1;*/
/*  background: #fff;*/
/*  color: #000;*/
/*  width: 30rem;*/
/*  height: 15rem;*/
/*  font-size: 1.4rem;*/
/*  padding: 1em;*/
/*}*/

/*.edit-modal input {*/
/*  height: 2em;*/
/*  width: 90%;*/
/*  font-size: 1em;*/
/*  padding-left: 1em;*/
/*  border: 0.1rem solid #000;*/
/*  background: #ff6f47de;*/
/*}*/

/*.edit-modal .form > button {*/
/*  height: 2em;*/
/*  font-size: 1em;*/
/*}*/

/*.edit-modal > div {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*}*/

/*.edit-modal > div button {*/
/*  color: #ff6f47;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  width: 3rem;*/
/*  height: 3rem;*/
/*  font-size: 1rem;*/
/*  border-radius: 2rem;*/
/*  font-weight: 600;*/
/*}*/

/*.edit-modal p {*/
/*  flex: 0.8;*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*  .form {*/
/*    flex-direction: column-reverse;*/
/*    margin-bottom: 1em;*/
/*  }*/

/*  .edit-modal form {*/
/*    flex-direction: row;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 520px) {*/
/*  .form > div:first-child {*/
/*    width: 90%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*  }*/

/*  .edit-modal {*/
/*    width: 100%;*/
/*  }*/
/*}*/
